.gaming-section{
  margin-left: 1rem;
}

.game-section{
  background-color: #1d1212;
  width: 44rem;
  height: 30rem;
}

.game-player-section{
    margin-top: 1rem;
    border-radius: 5px;
    background-image: url("https://rg-assests.royalgaming.online/common/odds-bg-dark.svg");
    background-color: #222;
    padding: 4px;
}

.game-player-section-a-a{
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  color: #cf8d2e;
  font-size: 10px;
  text-transform: uppercase;
  font-family: Roboto Condensed,sans-serif;
  padding-left: 14px;
  padding-top: 2px;
}

.game-player-section-a-a p{
    /* padding-left: 5px; */
    margin: 0;
}

.game-player-section-a-b{
    display: flex;

}

.game-player-content-heading {
  width: 68%;
  margin-top: 4px;
}

.game-player-content-heading p{
  margin: 0;
  color: #cf8d2e;
  padding-left: 20px;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 800;
  font-size: 12px;
}

.game-player-content-heading-2{
    display: flex;
    align-items: center;
    gap: 6rem;
}
/* #68bae8 */
/* #e86868 */
/* #cf8d2e */
.game-player-content-heading-2 p:first-child{
    margin: 0;
    color: #68bae8;
    font-family: Roboto Condensed,sans-serif;
    font-weight: 800;
    font-size: 13px;

}

.game-player-content-heading-2 p:last-child{
    margin: 0;
    color: #e86868;
    font-family: Roboto Condensed,sans-serif;
    font-weight: 800;
    font-size: 13px;
}

.game-player-content-img{
    display: flex;
    justify-content: center;
    margin-bottom: 0.4rem;
}

/* checkbox css */
/* ************ */
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 14px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 8px;
    left: 14px;
    bottom: 1px;
    background-color: #020202;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 21px;
    border: 1px solid #c48d2e;
  }
  
  input:checked + .slider {
    background-color: #222;
    
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #222;
    ;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(100%);
  }

  .slider.round {
    border-radius: 14px;
    border: 1px solid #b97f2b;
    background-color: #515151;
  }

  /* *****************************************************************  */
  /* *****************************************************************/
 
  .switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 14px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider1:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 9px;
    left: 2px;
    bottom: 1px;
    background-color: #b97f2b;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 21px;
  }
  
  input:checked + .slider1 {
    background-color: #222;
    
  }
  
  input:focus + .slider1 {
    box-shadow: 0 0 1px #222;
    ;
  }
  
  input:checked + .slider1:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(100%);
  }

  .slider1.round1 {
    border-radius: 14px;
    border: 1px solid #b97f2b;
    background-color: #0c0c0c;
  }

/* *********************************************** */
.game-player-section-content-div{
    display: flex;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg,#464646,#0f0f0f);
    background-color: lightblue;
    border-radius: 5px;
    margin-left: 19px;
    padding: 4px 2px;
}

.game-player-section-content-div p{
    margin: 0;
}

.game-player-div-2{
  width: 59%;
  padding-left: 5px;
  color: white;
  font-family: Roboto Condensed, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.game-player-dic-2{
    padding-left: 13px;
    margin: 0;
}


.game-player-section-content-2{
    display: flex;
    font-family: Roboto Condensed,sans-serif;
}

.game-player-section-content-2 p:first-child{
  margin: 0;
  background-color: #72bbef;
  border-radius: 5px;
  border-radius: 5px;
  width: 8rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  color: black;
  margin: 2px;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.game-player-section-content-2 p:last-child{
  margin: 0;
  background-color: #faa9ba;
  border-radius: 5px;
  width: 8rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  color: #020202;
  margin: 2px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.toogle-second-section{
  margin-top: 1rem;
  background-image: url(https://rg-assests.royalgaming.online/common/odds-bg-dark.svg);
  background-color: #222;
  border-radius: 6px;
}

.toogle-second-section-1{
  display: flex;
    justify-content: space-evenly;
    color: #b97f2b;
    align-items: center;
}

.toogle-second-section-1-a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Roboto Condensed,sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.desktop-view-flex{
  display: flex;
  justify-content: space-evenly;
  color: #b97f2b;
  align-items: center;
  gap: 1.8rem;
  padding: 5px;
}

.toogle-second-section-1-b{
  display: flex;
  gap: 1rem;
  font-family: Roboto Condensed,sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;

}

.toogle-second-section-1-b div{
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
}



.toogle-second-section-1-d{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toogle-second-section-1-d-btn{
  background-color: black;
  border: 1px solid #cf8d2e;
  padding: 5px;
  border-radius: 12px;
  color: white;
  font-family: Roboto Condensed,sans-serif;
  font-size: 8px;
  font-weight: 700;
  cursor: pointer;
}

.toogle-second-section-1-d-btn img{
  width: 100%;
  height: 1rem;
}

/* image section */
.toogle-second-section-1-c{
  display: flex;
  flex-direction: row;
  width: 18rem;
  background-color: black;
  border-radius: 22px;
  border: 1px solid white;
  padding: 5px 3px;
}

.chip{
  display: flex;
}

.chip-section{
  display: flex;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 1%;
  margin-right: 4%;
  width: 15%;

}

.chip-section:hover{
  transform: translateY(-5px); 
}

.chip-section img{
  width: 100%;
  opacity: 0.7;
  
}

.chip-section p{
  color: white;
  display: inline-block;
  font-family: Roboto Condensed,sans-serif;
  font-size: 15px;
  position: absolute;
  text-align: center;
  font-weight: 600;
}

.toogle-second-section-2{
  background-color: black;
  border: 1px solid rgba(207,141,46,.35);
  padding:  10px 9px;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-size: 10px;
  border-radius: 10px;
  margin: 0.3rem 1rem
}

.line{
  border-left: 1px solid rgba(207,141,46,.35);
  height: auto;
  min-height: 35px;
  padding: 0px 6px;
}

.toogle-second-section-2-player{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10rem;
  font-family: Roboto Condensed,sans-serif;
  font-weight: 600;
}

.toogle-second-section-2-player p{
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.toogle-second-section-2-score{
  background: linear-gradient(180deg,#5a3b0d,#130f0f);
  border: 1px solid rgba(207,141,46,.35);
  border-radius: 5px;
  padding: 5px 13px;
  display: flex;
}

.toogle-second-section-2-score-a{
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 0.8rem;
}

.toogle-second-section-2-score-b{
  background-color: #72bbef;
  border: 0.5px solid white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 11px;
  width: 7rem;
  font-family: Roboto Condensed,sans-serif;
}


.toogle-second-section-2-score-c{
  background-color: #faa9ba;
  border: 0.5px solid white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 11px;
  width: 7rem;
  font-family: Roboto Condensed,sans-serif;

}

.toogle-second-section-2-score-d{
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 50%;
}

.lock-image{
  height: 1rem;
  width: 1rem;
}

.chip-display-mobile{
  display: none;
}
.bet-place-section{
  background-color: white;
    padding: 8px;
    width: 92%;
    margin: 6px 20px;
}

.bet-place-section-1{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.bet-place-section-1 button{
  width: 97px;
  padding:5px;
  border: 2px solid #cf8d2e;
  border-radius: 5px;
  background: none;
  color: #cf8d2e;
  font-size: 13px;
  font-weight: 700;
}

.bet-place-section-1 button:hover{
  background-color: #cf8d2e;
  color: white;
}

.bet-place-section-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  margin: 0 9px;
}

.bet-place-section-2-flex{
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #191919;
  font-family: Roboto Condensed,sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.bet-place-section-2-flex p span{
  color: gray;
  font-family: Roboto Condensed,sans-serif;
  font-size: 10px;
  font-weight: 500;
  opacity: 1 !important
}

.bet-place-section-2-b{
  gap: 2rem;
}

.bet-place-section-2-b input{
  width: 7rem;
  padding: 5px;
  font-size: 9px;
}

.bet-place-section-2-c button:first-child{
  
  border-radius: 3px;
  font-size: 10px!important;
  font-weight: 800;
  height: 30px;
  justify-content: center;
  margin-right: 5px;
  text-align: center;
  padding: 4px;
  width: 6rem;
  border: 1px solid #cf8d2e;
  cursor: pointer;
  background-color: #b97f2b;
  color: white;
}

.bet-place-section-2-c button:hover{
  background-color: gray;
}


.cross{
  align-items: center;
  border: 1px solid #fe5e5e;
  border-radius: 3px;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-right: 5px;
  text-align: center;
  width: 30%;
}

.toogle-section-2-mobile{
  display: none;
}

@media (max-width: 450px) {
  .game-section{
    width: 25rem;
    height: 17rem;
  }

  .toogle-second-section-1-d{
    gap: 0.3rem;
  }

  .toogle-second-section-1-d-btn img{
    width: 68%;
    height: 1rem;
  }

  .game-player-section{
    width: 94%;
    padding: 5px  ;
  }

  .toogle-second-section{
    padding: 5px;
  }

  .game-player-section-content-div{
    margin: 0 10px;
  }

  .game-player-section-content-2 p:first-child{
  
    width: 4rem;
    height: 2.2rem;
    color: black;
    font-weight: 800;

  }

  .game-player-section-content-2 p:last-child{
  
    width: 4rem;
    height: 2.2rem;
    color: black;
    font-weight: 800;
    background-color: #faa9ba;

  }
  .game-player-content-img img{
    width: 100%;
  }

  .game-player-content-heading {
    width: 56%;
  }
  .game-player-content-heading-2{
    gap: 2.2rem;
    margin-left: 1rem;
  }


.game-player-content-heading p{
  padding: 0;
}

  .line{
    display: none;
  }

  .none{
    display: none;
  }

  .chip-display{
    display: none;
  }

  .toogle-second-section-1-b{
    font-size: 11px;
    gap: 0.6rem;
  }

  .toogle-second-section-1-a{
    font-size: 13px;
  }

.mobile-view-flex{
  display: flex;
  justify-content: space-between;
}

.mobile-view-width{
  width: 100%;
}

.chip-display-mobile{
  display: block;
  margin-bottom: 5px;
}

.chip-display-mobile-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gaming-section{
  margin-left: 0.4rem;
}

.bet-place-section{
  background-color: #e8e8e8;
  padding: 8px;
  width: 89%;
  margin: 6px 12px;
}

.bet-place-section-1{
  flex-wrap: wrap;
  gap: 7px;
}

.bet-place-section-2{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: self-start;
  padding: 5px;
}

/* ====================== */

.bet-place-mobile-view{
  background-color: white;
  padding: 8px;
  width: 89%;
  margin: 6px 12px;
}

.toogle-second-section-2-player{
  display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
}

.toogle-second-section-2-player-mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b97f2b;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    #5a3b0d,
    #130f0f);
    padding: 5px;
    gap: 0.8rem;

}


.toogle-second-section-2-score{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.toogle-second-section-2-score-d{

  width: 100%;
}

.toogle-second-section-2-score-c{
  margin: 0;
}

.toogle-section-2-mobile{
  display: flex;
  gap: 0.5rem;
  margin: 0.3rem;
}

.toogle-second-section-2-score-b p{
  color: black;
  font-weight: 700;
  font-size: 12px;

}

.toogle-second-section-2-score-c p{
  color: black;
  font-weight: 700;
  font-size: 12px;
}

.bet-place-section-2-flex{

  font-size: 14px;
}


.bet-place-section-2-flex p span{
  font-size: 14px;
  color: gray;
}

.bet-place-section-1-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.bet-place-section-1-mobile p:first-child{
  border: 1px solid gray;
  padding: 8px;
  background: white;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
}

.bet-place-section-1-mobile-input{
  font-size: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  padding-right: 6px;
}

.bet-place-section-2-mobile{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9px;
    margin-top: 10px;


}

.bet-place-section-2-mobile button{
  width: 110px;
  padding: 5px;
  border: 2px solid #cf8d2e;
  border-radius: 5px;
  background: none;
  background: #cf8d2e;
  font-size: 13px;
  font-weight: 700;
  color: white;
}

.bet-place-section-3-mobile{
  display: flex;
  gap: 4px;
  margin-top: 7px;
}

.bet-place-section-3-mobile p{
  background: white;
  font-size: 12px;
  width: 100px;
  padding: 7px;
  border-radius: 4px;
}

.bet-place-section-4-mobile{
  display: flex;
    margin-top: 10px;
    width: 100%;
}

.bet-place-section-4-mobile button{
  font-size: 14px;
  font-family: sans-serif;
  padding: 8px 15px;
  margin-right: 3px;
  font-weight: 700;
  font-family: sans-serif;
  border-radius: 5px;
  border: none;
}

.bet-place-section-4-mobile button:first-child{
  background-color: white;
  width: 30%;
}

.bet-place-section-4-mobile button:last-child{
  background-color: #cf8d2e;
  color: white;
  width: 70%;
}



}
@media (max-width: 400px) {
  .game-section{
    width: 22rem;
    height: 17rem;
  }

}

@media (min-width: 1440px) {
  .game-section{
    width: 40rem;
    height: 17rem;
  }

  .toogle-second-section{
    width: 40rem;
  }

  .desktop-view-flex{
    gap: 0.8rem;
 
  }
  

}