<main>

  <div class="nav">
    <button class="nav-logo">
      <fa-icon [icon]="faHome" style="color: white"></fa-icon>
      <img src="../assets/logo.png" alt="logo">
    </button>
    <span class="nav-username">
     <fa-icon [icon]="faUser" style="color: white"></fa-icon>
     <p >demo123</p>
    </span>
  </div>

  <div class="mobile-view-nav">
    <div class="mobile-view-nav-section">

      <div class="mobile-nav-section-1">
        <fa-icon [icon]="faBars"></fa-icon>
        <!-- <i class="fa-solid fa-bars" style="color: #ffffff;"></i> -->
 
      </div>
      <div class="mobile-nav-section-2">
        <button><img src="../assets/dark-mode.svg" alt=""></button>

        <div class="mobile-nav-section-2-a">
          <div>
            <img src="../assets/red-chip.svg" alt="">
          </div>
          <div class="mobile-nav-section-content">
            <p>Bal: 0</p>
            <p>Exp: 0</p>
          </div>
        </div>
      </div>

      
    </div>
  </div>

<div class="app-main"> 
  
  <div class="app-main-compoenent">

  
    <app-royalgamming></app-royalgamming>
    <app-gaming-section></app-gaming-section>
    <app-score-section></app-score-section>
  </div>
</div>
</main>

