<section class="score-section">
    <div class="score-section-1">
        <div class="score-section-1-content">
           <img src="../../../assets/desktop.svg" alt="L">
           <p>demo123_121323</p>
        </div>

        <div class="score-section-1-toggle">
          <p>Theme</p>
          <button class="dark-mode-btn">
            <img src="../../../assets/dark-mode.svg" alt="night-mode">
          </button>
        </div>

    </div>

    <div class="score-section-2">
        <div class="score-section-2-a">
            <div class="score-section-2-a-box1">
                <div>
                    <img src="../../../assets/balance-light-icon.svg" alt="1">
                </div>
                <div class="score-section-2-a-box1-a">
                    <p>Avalible</p>
                    <p>Explousure</p>
                </div>
            </div>

            <div class="score-section-2-a-box2">
                <p>0</p>
                <p>0</p>
            </div>
        </div>
        
        <div class="score-section-2-b">
            <p>OPEN BETS</p>
            <img src="../../../assets/horizontal-line.svg" alt="image" width="100%">
        </div>

        <div class="score-section-2-c">
            <div class="score-section-2-c-box">
                <div class="score-section-2-c-heading">
                    <p>MARKETS</p>
                </div>
                <div class="score-section-2-c-box2">
                    <p>ODDS</p>
                    <p>STACKS</p>
                </div>
            </div>
        </div>

        <div class="score-section-2-d">
            <p>You have no bets</p>
        </div>
    </div>
</section>